body{
    margin: 0 auto; 
    padding: 0;


    min-height: 100vh;
    background: linear-gradient(160deg,  white 40%,#2962ff 40%);

}

/* ----------css of header-------- */
#header{
    height: 70px;
    width:100%;
    margin-top:40px;

    width: 600px;
    margin: 40px auto;
}

.logo img{
    margin-left:15px;
    height: 70px;
    width: auto;
}


/* --------------css of title -------------- */

#title{

    text-align: center;
    

}

.p_wel{
    font-size: 35px;
    font-weight: bold;
    font-family: "Times New Roman", serif;

}

.p_log{
    font-size: 20px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

}



/* ---------- css of the login box ----------- */
#box{
    background-color:white;

    /* create the border */
    border-radius: 7px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    padding: 20px;

    width: 600px;
    margin: 0 auto;

    

}


.label{
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-box {

    width: 90%;                 
    height: 45px;               
    border-radius: 7px;       
    border: 1px solid black;         
    
    color: black;         
    padding: 0 15px;         
    font-size: 16px;

    margin-bottom: 20px;
}

.password_input{
    position: relative;
    width: 100%;       

}

.input-box-psw {


    width: 90%;                 
    height: 45px;               
    border-radius: 7px;       
    border: 1px solid black;         
    
    color: black;         
    padding: 0 15px;         
    font-size: 16px;

    margin-bottom: 20px;
}

.toggle-btn{
    position: absolute;
    right: 80px;
    top:41px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.login-btn {
    background-color: #225ccf; 
    width:80%;

    color: white;
    padding: 15px 60px; 
    border: none;  
    border-radius: 999px; 
    font-size: 18px;     
    cursor: pointer;  

    display: block;
    margin: 0 auto;

    transition: background-color 0.3s, opacity 0.3s;
}

.login-btn:hover {
    background-color: #3a75e3;
    opacity: 0.9;
}

.p_forget{
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;

    text-align: center;
}

.link-signup {
    color: #225ccf;     
    }
    
.link-signup:hover {
    color: #3a75e3;
}



/* footer  */
.footer {
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    background-color: #f0f4f8;
    color: #333;
    font-size: 15px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-weight: 600;
    color: #005eb8;
}