body{
    margin: 0 auto; 
    padding: 0;

    height: 100vh;
    background: linear-gradient(160deg,  white 40%,#2962ff 40%);
    
}


/* ----------css of header-------- */
#header{
    height: 70px;
    width:100%;
    /* background-color: black; (to adjust the header position )*/

    margin-top:40px;

    width: 600px;
    margin: 40px auto;
}

.logo img{
    margin-left:15px;
    height: 70px;
    width: auto;
}

/* --------------css of title -------------- */

#title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
}

/* -------css of the main part---------- */

#main{
    width: 600px;
    margin: 0 auto;
    background-color:white;

    border-radius: 7px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    padding: 50px;
    
}

.label{
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.input-box {

    width: 90%;                 
    height: 45px;               
    border-radius: 7px;       
    border: 1px solid black;         
    
    color: black;         
    padding: 0 15px;         
    font-size: 16px;

    margin-bottom: 20px;
}

.signup-btn {
    
    background-color: #225ccf; 
    width:80%;

    color: white;
    padding: 15px 60px; 
    border: none;  
    border-radius: 999px; 
    font-size: 18px;     
    cursor: pointer;  

    display: block;
    margin: 0 auto;
    margin-top: 30px;

    transition: background-color 0.3s, opacity 0.3s;
}

.signup-btn:hover {
    background-color: #3a75e3;
    opacity: 0.9;
}



/* footer  */
.footer {
    text-align: center;
    padding: 25px 20px;
    background-color: #f0f4f8;
    color: #333;
    font-size: 15px;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;

    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-weight: 600;
    color: #005eb8;
}